body {
  margin: 0px;
}
header {
  display: flex;
  position: relative;
  background-color: rgb(44, 42, 37);
  height: 20vh;
  width: 100vw;
  z-index: 3;
}
section {
  display: flex;
  justify-content: space-between;
}
aside {
  display: flex;
  position: relative;

  justify-content: space-evenly;
  background-color: rgb(197, 197, 197);
  width: 10vw;
  height: 100vh;
  z-index: 2;
}
footer {
  position: relative;
  background-color: rgb(70, 70, 70);
  z-index: 1;
  width: 100vw;
  height: 10vh;
  top: 90vh;
}
